<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recopilaci칩n de Datos</title>
    <style>
        /* Google Fonts */
        @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

        /* Global */
        html {
            min-height: 100%;
            overflow: hidden;
        }

        body {
            height: calc(100vh - 8em);
            padding: 4em;
            color: rgba(255, 255, 255, .75);
            font-family: 'Anonymous Pro', monospace;
            background-color: rgb(25, 25, 25);
        }

        .line-1 {
            position: relative;
            top: 50%;
            width: 24em;
            margin: 0 auto;
            border-right: 2px solid rgba(255, 255, 255, .75);
            font-size: 180%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);
        }

        /* Animation */
        .anim-typewriter {
            animation: typewriter 4s steps(44) 1s 1 normal both,
                blinkTextCursor 500ms steps(44) infinite normal;
        }

        @keyframes typewriter {
            from {
                width: 0;
            }

            to {
                width: 24em;
            }
        }

        @keyframes blinkTextCursor {
            from {
                border-right-color: rgba(255, 255, 255, .75);
            }

            to {
                border-right-color: transparent;
            }
        }
    </style>
</head>

<body>
    <p class="line-1 anim-typewriter"> Ejemplo de utilizar el CSS STEPS CON NODEJS</p>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Recopilar informaci칩n sobre el tama침o de la pantalla
            const screenSize = {
                width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
                height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
            };


            // Obtener la geolocalizaci칩n si el usuario da permiso
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    const location = {
                        latitude: position.coords.latitude,
                        longitude: position.coords.longitude
                    };

                    fetch('/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ screenSize, location }),
                    });
                });
            } else {
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ screenSize }),
                }
        });
    </script>

</body>

</html>